* {
  opacity: 1;
  margin: 0px;
  padding: 0px;
}
.off-white-bg {
  background: #fafafa 0% 0% no-repeat padding-box;
}
.white-bg {
  background: #ffffff 0% 0% no-repeat padding-box;
}

.login-page {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login-wrapper {
  width: 1560px;
  height: 720px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.image-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.img {
  width: 576px;
  height: 576px;
  border-radius: 50%;
  background: url("../images/hero-image.png");
  box-shadow: 0px 4px 31px #0000000a;
  border: 20px solid #ffffff;
  opacity: 1;
}
.login-form {
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-left: 162px; */
}
.form-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: start;
}
.company-logo {
  width: 272px;
  height: 58px;
  margin-bottom: 19.17px;
}
.info-text {
  width: 500px;
  height: 100px;
  text-align: left;
  font: normal normal 300 40px/47px Roboto;
  letter-spacing: 0px;
  color: #3e3e3e;
  margin-bottom: 31.17px;
}
.info-text span {
  font: normal normal 900 40px/53px Roboto;
  letter-spacing: 0px;
  color: #c8242f;
}
.form-label {
  /* width: 260px; */
  height: 33px;
  text-align: left;
  font: normal normal normal 33px Roboto;
  letter-spacing: 0px;
  color: #3e3e3e;
  margin-bottom: 23.45px;
}
.form {
  display: flex;
  flex-direction: column;
  width: 429px;
}
.input-username {
  height: 49px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #adadad;
  border-radius: 5px;
  padding: 0px 14.5px 0px 15.5px;
  margin-bottom: 27px;
}
.input-password {
  height: 49px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #adadad;
  border-radius: 5px;
  padding: 0px 14.5px 0px 15.5px;
  margin-bottom: 30.5px;
}
.login-btn-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 23.13px;
}
.btn-login {
  width: 138px;
  height: 45px;
  background: #c8242f 0% 0% no-repeat padding-box;
  border-radius: 23px;
  border-color: rgba(255, 255, 255, 0);
}
.login-text {
  font: normal normal medium 18px/24px Roboto;
  background: #c8242f;
  color: #ffffff;
}
.forgot-pwd {
  height: 20px;
  font: normal normal normal 15px/20px Roboto;
  color: #adadad;
  margin-top: auto;
  margin-bottom: auto;
}
.register-link {
  height: 20px;
  text-align: left;
  font: normal normal normal 15px/20px Roboto;
  color: #adadad;
}
.link {
  height: 20px;
  text-align: left;
  font: normal normal normal 15px/20px Roboto;
  color: #c8242f;
}
/* //mobile// */

@media only screen and (min-width: 783px) and (max-width: 1024px) {
  .login-wrapper {
    width: 100%;
  }
  .img {
    height: 450px;
    width: 450px;
  }
  .company-logo {
    height: 45px;
  }
  .info-text {
    font-size: 30px;
    width: 300px;
    margin-bottom: 20px;
    height: fit-content;
  }
  .info-text span {
    font-size: 35px;
  }
  .form-label {
    font-size: 28px;
  }
  .form {
    width: 300px;
  }
}
@media only screen and (min-width: 360px) and (max-width: 782px) {
  .login-wrapper {
    flex-direction: column;
  }
  .login-wrapper {
    margin-top: 100px;
    height: 1500px;
    justify-content: center;
  }
  .img {
    width: 360px;
    height: 360px;
    background-position: center;
    border-width: 2px;
  }
  .form-wrapper {
    align-items: center;
    justify-content: center;
    width: 100vw;
  }
  .info-text {
    font-size: 25px;
    width: 100vw;
    margin-bottom: 20px;
    height: fit-content;
    text-align: center;
  }
  .form {
    width: 100vw;
    padding: 0px 2px 0px 2px;
  }
}

/* //dashboard// */

.dashboard {
  max-width: 1560px;
  max-height: 100vh;
  margin: 0px auto 0px auto;
}
.dashboard-wrapper {
  max-width: 1560px;
}
.navbar {
  max-width: 1560px;
  height: 80px;
  padding: 29px 34px;
}
.nav-wrapper {
  width: 1560px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-left {
  display: flex;
}
#toggle {
  display: none;
}
.expand-icon {
  width: 20px;
  height: 18px;
  margin-right: 25px;
  display: none;
  cursor: pointer;
}
/* //sidebar// */

.nav-logo {
  width: 142px;
  height: 30px;
  background-image: url("../images/header-logo.svg");
}
.nav-search {
  display: flex;
  align-items: center;
  width: 100px;
  margin-left: 76.67px;
}
.nav-search-field {
  border: #fffefe00;
}
.search-icon {
  width: 16px;
  height: 16px;
  margin-right: 14.74px;
}
.nav-right {
  display: flex;
  align-items: center;
}
.notify-img {
  width: 22px;
  height: 21px;
  margin-right: 52.28px;
}
.profile-img {
  width: 44px;
  height: 44px;
  /* UI Properties */
  background: transparent url("../images/profile.png") 0% 0% no-repeat
    padding-box;
}
.username {
  width: 70px;
  height: 21px;
  /* UI Properties */
  text-align: left;
  font: normal normal normal 16px/21px Roboto;
  letter-spacing: 0px;
  color: #000000;
  margin-left: 12px;
}
.down-arrow {
  width: 20px;
  height: 15px;
  margin-right: 43.53px;
  margin-left: 14.54px;
}

.page {
  display: flex;
}
.sidebar {
  width: 242px;
  height: 1279px;
}
.sidebar-items {
  margin: 30px 25px 30px 25px;
}
.sidebar-item {
  margin: auto;
  width: 183px;
  height: 43px;

  border-radius: 5px;
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}
.active-item {
  background: #fff3f4 0% 0% no-repeat padding-box;
}
.dashboard-sidebar-icon {
  width: 24px;
  height: 24px;

  margin-left: 17.5px;
}
.sidebar-text {
  height: 21px;
  text-align: left;
  font: normal normal normal 16px/21px Roboto;
  margin-left: 12.5px;
}
.active-text {
  background: #fff3f4 0% 0% no-repeat padding-box;
}
.active-img {
  background: #fff3f4 0% 0% no-repeat padding-box;
}

.sidebar-item > h6 {
  margin-bottom: 0;
}

.dashboard-page {
  background: #fafafa 0% 0% no-repeat padding-box;
  padding: 50px 40.74px 51px 43px;
  display: flex;
  max-width: 1318px;
  flex-direction: column;
}
.page-title {
  width: 146px;
  height: 39px;
  /* UI Properties */
  text-align: left;
  font-family: Roboto;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 0px;
  color: #000000;
  background: #fafafa 0% 0% no-repeat padding-box;
}

.product-analysis {
  margin-top: 22.25px;
  max-width: 1400px;
}
.counts {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  background: #fafafa 0% 0% no-repeat padding-box;
}
.count {
  width: 219px;
  height: 116px;
  background: #ffffff 0% 0% no-repeat padding-box;
  display: flex;
  align-items: center;
  justify-content: center;
}
.count img {
  width: 33px;
  height: 33px;
}

.charts img {
  background: #fafafa 0% 0% no-repeat padding-box;
}
.product-text {
  display: flex;
  flex-direction: column;
  margin-left: 19.13px;
}
.number {
  width: 77px;
  height: 33px;
  /* UI Properties */
  text-align: left;
  font-family: Roboto;
  font-size: 25px;
  font-weight: bold;
  letter-spacing: 0px;
  color: #3e3e3e;
}
.count-text {
  width: fit-content;
  height: 20px;
  text-align: left;
  font-family: Roboto;
  font-size: 20px;
  letter-spacing: 0px;
  color: #3e3e3e;
}
.charts {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 33px;
}
.sales-graph {
  width: 802px;
  height: 400px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: #ffffff 0% 0% no-repeat padding-box;

  padding: 23.52px 47.5px 28.9px 28px;
}
.sales-graph-nav {
  height: 30px;
}
.sales-nav-item {
  padding-bottom: 37.98px;
  display: flex;
  justify-content: space-between;
}
.nav-text-sale {
  width: 43px;
  height: 29px;
  /* UI Properties */
  text-align: left;
  font-family: Roboto;
  font-size: 20px;
  letter-spacing: 0px;
  color: #3e3e3e;
  font-weight: bold;
}
.nav-right-text {
  width: 162px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.time-option {
  height: 16px;
  width: 100%;
  font: normal normal normal 12px/16px Roboto;
  letter-spacing: 0px;
  color: #adadad;
  display: flex;
  justify-content: space-between;
}
.active-time-option {
  color: #c8242f;
  padding-bottom: 10px;
  border-bottom: 1px solid #c8242f;
}
.paichart {
  width: 385px;
  height: 398px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.country {
  display: flex;
  align-items: center;
}

.countries .country .color {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  margin-right: 9px;
}
.countries .country .color_1 {
  background-color: #c8242f;
}
.countries .country .color_2 {
  background-color: #a2b86c;
}
.countries .country .color_3 {
  background-color: #f16c20;
}
.countries .country .color_4 {
  background-color: #ebc844;
}

.invoice {
  padding-left: 29px;
  padding-right: 29px;
}
.heading {
  margin-top: 22.52px;
}
.text-success {
  width: 50px;
  height: 26px;
  font-size: 15px;
  padding: 5px;
  border-radius: 5px;
  background-color: #ebffef;
}
.text-danger {
  width: 50px;
  height: 26px;
  font-size: 15px;
  padding: 5px;
  border-radius: 5px;
  background-color: #fff5f5;
}
.text-secondary {
  width: 50px;
  height: 26px;
  font-size: 15px;
  padding: 5px;
  border-radius: 5px;
  background-color: #f8f8f8;
}
.view-all {
  color: #c8242f;
}
@media only screen and (min-width: 1224px) {
  .dashboard-page {
    padding: 10px 10px 10px 10px;
    width: 100%;
  }
  .counts {
    justify-content: space-evenly;
  }
  .charts {
    justify-content: space-evenly;
  }
  .count {
    width: 160px;
    height: 90px;
    border-radius: 10px;
  }
  .count img {
    height: 30px;
    width: 30px;
  }

  .number {
    font-size: 20px;
  }
  .count-text {
    font-size: 15px;
  }
  .sales-graph {
    width: 600px;
    height: 400px;
    padding: 10px 10px 10px 10px;
  }
  .paichart {
    width: 300px;
    height: 400px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1023px) {
  .dashboard-page {
    padding: 10px 10px 10px 10px;
  }
  .counts {
    display: grid;
    grid-template-columns: auto auto auto;
    row-gap: 10px;
  }
  .count {
    width: 160px;
    height: 90px;
    border-radius: 10px;
  }
  .count img {
    height: 25px;
    width: 25px;
  }

  .number {
    font-size: 20px;
  }
  .count-text {
    font-size: 15px;
  }
  .charts {
    flex-direction: column;
    align-items: center;
  }
  .sales-graph {
    width: 500px;
    height: 250px;
  }
  .paichart {
    width: 500px;
    height: 250px;
    flex-direction: row;
  }
  .notation {
    flex-direction: column;
  }
}
@media only screen and (min-width: 741px) and (max-width: 991px) {
  .dashboard-page {
    padding: 10px 10px 10px 10px;
    width: 100%;
  }
  .counts {
    display: grid;
    grid-template-columns: auto auto auto auto;
    row-gap: 10px;
  }
  .count {
    width: 160px;
    height: 90px;
    border-radius: 10px;
  }
  .count img {
    height: 25px;
    width: 25px;
  }

  .number {
    font-size: 20px;
  }
  .count-text {
    font-size: 15px;
  }
  .charts {
    flex-direction: column;
    align-items: center;
  }
  .sales-graph {
    width: 500px;
    height: 250px;
  }
  .paichart {
    width: 500px;
    height: 250px;
    flex-direction: row;
  }
  .notation {
    flex-direction: column;
  }
}

@media only screen and (min-width: 516px) and (max-width: 740px) {
  .dashboard-page {
    width: 100%;
    padding: 10px 10px 10px 10px;
  }
  .counts {
    display: grid;
    grid-template-columns: auto auto auto;
    row-gap: 10px;
  }
  .count {
    width: 160px;
    height: 90px;
    border-radius: 10px;
  }
  .count img {
    height: 25px;
    width: 25px;
  }

  .number {
    font-size: 20px;
  }
  .count-text {
    font-size: 15px;
  }
  .charts {
    flex-direction: column;
    align-items: center;
  }
  .sales-graph {
    width: 500px;
    height: 250px;
  }
  .paichart {
    width: 500px;
    height: 250px;
    flex-direction: row;
  }
  .notation {
    flex-direction: column;
  }
}
@media only screen and (min-width: 360px) and (max-width: 516px) {
  .dashboard-page {
    padding: 10px 10px 10px 10px;
    width: 100%;
  }
  .counts {
    display: grid;
    grid-template-columns: auto auto;
    row-gap: 10px;
  }
  .count {
    width: 160px;
    height: 90px;
    border-radius: 10px;
  }
  .count img {
    height: 25px;
    width: 25px;
  }

  .number {
    font-size: 20px;
  }
  .count-text {
    font-size: 15px;
  }
  .charts {
    flex-direction: column;
    align-items: center;
  }
  .sales-graph {
    width: 390px;
    height: 200px;
    padding: 10px 10px 10px 25px;
  }
  .paichart {
    width: 400px;
    height: 400px;
    flex-direction: column;
  }
  .notation {
    flex-direction: row;
  }
}

/* //navbar only// */
@media only screen and (min-width: 360px) and (max-width: 800px) {
  .nav-logo {
    background-image: url("../images/mobile-header-logo.svg");
    width: 40px;
    background-repeat: no-repeat;
    background-position: center;
  }
  .down-arrow {
    margin-right: 3px;
  }
  .nav-search {
    margin-left: 10px;
  }
  .notify-img {
    display: none;
  }
  .navbar {
    padding: 5px 10px 5px 10px;
  }
  .toggle-button {
    padding: 3px;
  }
}

/* //analysis// */
.innerpage {
  max-width: 1560px;
  min-height: fit-content;
  margin: 0px auto 0px auto;
}

.analysis-form {
  width: 1318px;
  padding: 40.75px 50px 40px 50px;
}
.page-title h5 {
  width: 113px;
  height: 39px;
  text-align: left;
  letter-spacing: 0px;
  font-family: roboto;
  font-size: 30px;
  font-weight: bold;
  color: #000000;
}
.analysis-form-wrapper {
  padding: 22.5px 30.5px 22.5px 30.5px;
}
.sub-title span {
  width: 121px;
  height: 29px;
  font-size: 22px;
  font-family: Roboto;
  color: #3e3e3e;
}
.sub-title {
  margin-top: 22.52px;
  margin-bottom: 15px;
}
.one-column {
  margin-bottom: 44.2px;
}
.two-field {
  width: 563px;
  height: 49px;
  border: 1px solid #adadad;
}

.did-floating-label-content {
  position: relative;
  margin-bottom: 20px;
}
.did-floating-label {
  font-size: 13px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 15px;
  top: 11px;
  padding: 0 5px;
  background: #fff;
}

.did-floating-input:not(:placeholder-shown) ~ .did-floating-label {
  top: -8px;
  font-size: 13px;
}
.two-column {
  margin-bottom: 44.2px;
}
.three-column-field {
  width: 364px;
  height: 47px;
  border-radius: 5px;
}
.three-column {
  margin-bottom: 35.02px;
}
.four-column {
  width: 266px;
  height: 49px;
  border: 1px solid #adadad;
  border-radius: 5px;
}
.four-column-main {
  margin-bottom: 43.42px;
}
.upload-btn {
  width: 124px;
  height: 36px;
  border: 1px solid #c8242f;
  border-radius: 18px;
}
.upload-file-text span {
  width: 91px;
  height: 16px;
  font-family: Roboto;
  font-size: 12px;
  color: #adadad;
}
.upload {
  margin-bottom: 36.15px;
}
.sub-title-2 {
  height: 24px;
  font-size: 18px;
  font-family: Roboto;
  color: #3e3e3e;
  margin-bottom: 15.85px;
  font-weight: bold;
}

input[type="radio"] {
  accent-color: #ff0000;
}
.radio-button {
  margin-bottom: 32.52px;
}

.contain {
  display: block;
  position: relative;
  /* padding-left: 35px; */
  /* margin-bottom: 12px; */
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.contain input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 16px;
  width: 16px;
  background-color: #eee;
}
.contain:hover input ~ .checkmark {
  background-color: #ccc;
}
.contain input:checked ~ .checkmark {
  background-color: red;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.contain input:checked ~ .checkmark:after {
  display: block;
}
.contain .checkmark:after {
  left: 5px;
  top: 3px;
  width: 5px;
  height: 9px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.check-text {
  position: relative;
  margin-left: 20px;
  top: -3px;
}
.check-box {
  margin-bottom: 33px;
}
.snakes {
  margin-bottom: 34.15px;
}
.snack {
  width: 563px;
  height: 44px;
  padding: 5px;
}
.snack-img {
  height: 20px;
  width: 20px;
}
.snack-1 {
  border: 1px solid #ff3535;
  color: #ff3535;
}
.snack-2 {
  border: 1px solid #00b9e1;
  color: #00b9e1;
}
.snack-3 {
  border: 1px solid #ffa800;
  color: #ffa800;
}
.snack-4 {
  border: 1px solid #00af27;
  color: #00af27;
}
.button-1 {
  width: 124px;
  height: 45px;
  color: white;
  background: #c8242f;
  border-radius: 23px;
}
.button-2 {
  width: 145px;
  height: 44px;
  color: #c8242f;
  border: 1px solid #c8242f;
  border-radius: 22px;
  margin-left: 20.5px;
}
.call-to-action {
  margin-bottom: 34.65px;
}
.active-tab {
  border-bottom: 3px solid red;
  color: #c8242f;
}
.tab {
  width: 70px;
  font-size: 15px;
  font-family: roboto;

  margin-right: 10px;
  padding-bottom: 13.37px;
}
.line hr {
  height: 1px;
  position: relative;
  top: -18px;
}

/* /// inner page responsive  /// */
@media only screen and (min-width: 1316px) and (max-width: 1540px) {
  .two-field {
    width: 450px;
  }
  .three-column-field {
    width: 300px;
  }
  .four-column {
    width: 200px;
  }
  .snack {
    width: 450px;
  }
}
@media only screen and (min-width: 872px) and (max-width: 1315px) {
  .two-field {
    width: 350px;
  }
  .three-column-field {
    width: 200px;
  }
  .four-column {
    width: 150px;
  }
  .snack {
    width: 350px;
  }
}
@media only screen and (min-width: 746px) and (max-width: 871px) {
  .four-columns-inputs {
    flex-direction: column;
  }
  .two-column-input-1 {
    flex-direction: column;
  }
  .two-column-input-2 {
    flex-direction: column;
  }
  .snacks-fields-1 {
    flex-direction: column;
  }
  .snacks-fields-2 {
    flex-direction: column;
  }

  .two-field {
    width: 500px;
    margin-bottom: 10px;
  }
  .three-column-field {
    width: 200px;
  }
  .four-column {
    width: 350px;
  }
  .snack {
    width: 500px;
    margin-bottom: 10px;
  }
}

@media only screen and (min-width: 746px) and (max-width: 780px) {
  .three-column-field {
    width: 400px;
  }
  .three-column-inputs {
    flex-direction: column;
  }
}
@media only screen and (min-width: 360px) and (max-width: 745px) {
  .analysis-form {
    width: 100%;
    padding: 10.75px 15px 10px 15px;
  }
  .four-columns-inputs {
    flex-direction: column;
  }
  .two-column-input-1 {
    flex-direction: column;
  }
  .two-column-input-2 {
    flex-direction: column;
  }
  .snacks-fields-1 {
    flex-direction: column;
  }
  .snacks-fields-2 {
    flex-direction: column;
  }
  .three-column-inputs {
    flex-direction: column;
  }
  .two-field {
    width: 100%;
    margin-bottom: 10px;
  }
  .three-column-field {
    width: 60%;
    margin-bottom: 10px;
  }
  .four-column {
    width: 60%;
    margin-bottom: 10px;
  }
  .snack {
    width: 100%;
    margin-bottom: 10px;
  }
}
